<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
           <p>We are part of the <a href="https://www.ece.ntua.gr/en">School of Electrical and
               Computer Engineering</a> at <a href="https://www.ntua.gr/en/">National Technical
               University of Athens</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="http://babyrobot.eu/">Babyrobot: Child-Robot Communication and Collaboration</a> from <a
         href="https://ec.europa.eu/programmes/horizon2020/">EU Horizon 2020</a> Research and Innovation Action <br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
          Old ECE buildings, National Technical University of Athens<br />
          9, Iroon Polytechniou St<br />
          Athens, Postal Code 157 80<br />
		  Greece <br />
            (<a href="https://goo.gl/z44Fyj">Maps</a>, <a
                href="https://www.ece.ntua.gr/en/access">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
